<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>



<%# Validation error messages %>
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <div class = "alert alert-danger"><%= msg %></div>
  <% end %>
<% end %>



<br>
<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
