<h1>&nbsp;&nbsp;Advertisements</h1>
   <p>
   <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
   
   <br><%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
   <%= submit_tag "Search"%>
   </p>
  <% end %>

<% @posts.each do |post| %>
	<div class="well">
         <h3><%= post.title %></h3>
         <p><%=post.body%></p>
         <%= link_to "Read More", post_path(post), :class => 'btn btn-default' %>
    </div>
    <% end %>